.title {
  color: light-dark(var(--mantine-color-black), var(--mantine-color-white));
}

.loader {
  animation: rotateAnimation 2s linear infinite;
}

@keyframes rotateAnimation {
  0% {
    transform: rotate(0deg);
    /* Initial position */
  }

  100% {
    transform: rotate(360deg);
    /* Full rotation */
  }
}
