{
  "log": {
    "_recordingName": "should load a package",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "112b2b5082e12d69e05cd1b01899c663",
        "request": {
          "headers": [],
          "method": "GET",
          "queryString": [],
          "url": "https://datahub.io/core/eu-emissions-trading-system/datapackage.json#readme"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 2430,
            "text": "{\n  \"name\": \"eu-emissions-trading-system\",\n  \"title\": \"European Union Emissions Trading System (EU ETS) data from EUTL\",\n  \"description\": \"Data about the EU emission trading system (ETS). The EU emission trading system (ETS) is one of the main measures introduced by the EU to achieve cost-efficient reductions of greenhouse gas emissions and reach its targets under the Kyoto Protocol and other commitments. The data mainly comes from the EU Transaction Log (EUTL). \",\n  \"homepage\": \"http://www.eea.europa.eu/data-and-maps/data/european-union-emissions-trading-scheme-eu-ets-data-from-citl-7/\",\n  \"version\": \"19\",\n  \"licenses\": [\n    {\n      \"name\": \"ODC-PDDL-1.0\",\n      \"path\": \"http://opendatacommons.org/licenses/pddl/\",\n      \"title\": \"Open Data Commons Public Domain Dedication and License v1.0\"\n    }\n  ],\n  \"sources\": [\n    {\n      \"name\": \"EU ETS data\",\n      \"path\": \"http://www.eea.europa.eu/data-and-maps/data/european-union-emissions-trading-scheme-eu-ets-data-from-citl-7/eu-ets-data-download-latest-version/citl_v19.zip/at_download/file\",\n      \"title\": \"EU ETS data\"\n    }\n  ],\n  \"resources\": [\n    {\n      \"name\": \"eu-ets\",\n      \"path\": \"data/eu-ets.csv\",\n      \"format\": \"csv\",\n      \"mediatype\": \"text/csv\",\n      \"schema\": {\n        \"fields\": [\n          {\n            \"name\": \"country_code\",\n            \"type\": \"string\",\n            \"description\": \"International Country Code (ISO 3166-1-Alpha-2 code elements)\"\n          },\n          {\n            \"name\": \"country\",\n            \"type\": \"string\",\n            \"description\": \"Country name\"\n          },\n          {\n            \"name\": \"main activity sector name\",\n            \"type\": \"string\",\n            \"description\": \"Main activity label\"\n          },\n          {\n            \"name\": \"ETS information\",\n            \"type\": \"string\",\n            \"description\": \"ETS information\"\n          },\n          {\n            \"name\": \"year\",\n            \"type\": \"string\",\n            \"description\": \"Annual data mainly in YYYY format, but also may include stings Eg: Total 1st trading period (05-07)\"\n          },\n          {\n            \"name\": \"value\",\n            \"type\": \"number\",\n            \"description\": \"measure value\"\n          },\n          {\n            \"name\": \"unit\",\n            \"type\": \"string\",\n            \"description\": \"Unit of the measure value (in tonne of CO2-equ.)\"\n          }\n        ]\n      }\n    }\n  ],\n  \"collection\": \"air-pollution\"\n}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "etag",
              "value": "W/\"ad344f81f0b1918873111810eca6be93\""
            },
            {
              "name": "last-modified",
              "value": "Fri, 11 Oct 2024 15:54:28 GMT"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 1086,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
