{
  "log": {
    "_recordingName": "should load a package",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "d427e659d0fa56d2201f56d7602743d0",
        "request": {
          "headers": [],
          "method": "GET",
          "queryString": [],
          "url": "https://zenodo.org/api/records/15496947"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 5523,
            "text": "{\"created\": \"2025-05-23T17:00:02.338039+00:00\", \"modified\": \"2025-05-23T17:00:02.720774+00:00\", \"id\": 15496947, \"conceptrecid\": \"15496946\", \"doi\": \"10.5281/zenodo.15496947\", \"conceptdoi\": \"10.5281/zenodo.15496946\", \"doi_url\": \"https://doi.org/10.5281/zenodo.15496947\", \"metadata\": {\"title\": \"Tesla option chain Data\", \"doi\": \"10.5281/zenodo.15496947\", \"publication_date\": \"2025-05-23\", \"description\": \"<p>&nbsp;</p>\\n<p>This dataset contains preprocessed option data for Tesla Inc. (TSLA), curated for time-series modeling of implied volatility (IV). The dataset spans multiple strike prices and both call and put options. Each row corresponds to a unique combination of date, strike price, and option type, along with relevant financial features.</p>\\n<p><strong>Key columns include:</strong></p>\\n<ul>\\n<li>\\n<p>DATE: Date of the option quote (in YYYY-MM-DD format)</p>\\n</li>\\n<li>\\n<p>Strike Price: Strike price of the option</p>\\n</li>\\n<li>\\n<p>cp_flag: Option type &mdash; Call (c) or Put (p)</p>\\n</li>\\n<li>\\n<p>SP/CP: Ratio of spot price to strike price</p>\\n</li>\\n<li>\\n<p>r: Risk-free interest rate</p>\\n</li>\\n<li>\\n<p>time to maturity: Time to expiration (in years)</p>\\n</li>\\n<li>\\n<p>real_iv: Realized implied volatility (target variable)</p>\\n</li>\\n</ul>\\n<p>&nbsp;</p>\", \"access_right\": \"open\", \"creators\": [{\"name\": \"Pandit Deendayal Petroleum University\", \"affiliation\": null}], \"custom\": {\"code:programmingLanguage\": [{\"id\": \"python\", \"title\": {\"en\": \"Python\"}}]}, \"resource_type\": {\"title\": \"Dataset\", \"type\": \"dataset\"}, \"license\": {\"id\": \"cc-by-4.0\"}, \"relations\": {\"version\": [{\"index\": 0, \"is_last\": true, \"parent\": {\"pid_type\": \"recid\", \"pid_value\": \"15496946\"}}]}, \"method\": \"<p><strong>This Python script processes the TSLA options dataset to train an LSTM (Long Short-Term Memory) neural network for forecasting implied volatility.</strong></p>\\n<p><strong>Key operations include:</strong></p>\\n<ul>\\n<li>\\n<p>Loading and preprocessing the data</p>\\n</li>\\n<li>\\n<p>Generating fixed-length time-series sequences (x) of 30-day windows using the following features:<br>DATE, Strike Price, cp_flag, SP/CP, time to maturity</p>\\n</li>\\n<li>\\n<p>Constructing a supervised learning target y (next-day real_iv)</p>\\n</li>\\n<li>\\n<p>Splitting the data into training and testing sets</p>\\n</li>\\n<li>\\n<p>Scaling features using standard scaler</p>\\n</li>\\n<li>\\n<p>Defining and training a two-layer LSTM model using TensorFlow/Keras</p>\\n</li>\\n<li>\\n<p>Evaluating model performance using rmse,mae,R2</p>\\n</li>\\n</ul>\\n<p>The code allows reproducibility of the full data transformation pipeline and provides a template for IV forecasting using deep learning on historical option data.</p>\"}, \"title\": \"Tesla option chain Data\", \"links\": {\"self\": \"https://zenodo.org/api/records/15496947\", \"self_html\": \"https://zenodo.org/records/15496947\", \"preview_html\": \"https://zenodo.org/records/15496947?preview=1\", \"doi\": \"https://doi.org/10.5281/zenodo.15496947\", \"self_doi\": \"https://doi.org/10.5281/zenodo.15496947\", \"self_doi_html\": \"https://zenodo.org/doi/10.5281/zenodo.15496947\", \"reserve_doi\": \"https://zenodo.org/api/records/15496947/draft/pids/doi\", \"parent\": \"https://zenodo.org/api/records/15496946\", \"parent_html\": \"https://zenodo.org/records/15496946\", \"parent_doi\": \"https://doi.org/10.5281/zenodo.15496946\", \"parent_doi_html\": \"https://zenodo.org/doi/10.5281/zenodo.15496946\", \"self_iiif_manifest\": \"https://zenodo.org/api/iiif/record:15496947/manifest\", \"self_iiif_sequence\": \"https://zenodo.org/api/iiif/record:15496947/sequence/default\", \"files\": \"https://zenodo.org/api/records/15496947/files\", \"media_files\": \"https://zenodo.org/api/records/15496947/media-files\", \"archive\": \"https://zenodo.org/api/records/15496947/files-archive\", \"archive_media\": \"https://zenodo.org/api/records/15496947/media-files-archive\", \"latest\": \"https://zenodo.org/api/records/15496947/versions/latest\", \"latest_html\": \"https://zenodo.org/records/15496947/latest\", \"versions\": \"https://zenodo.org/api/records/15496947/versions\", \"draft\": \"https://zenodo.org/api/records/15496947/draft\", \"access_links\": \"https://zenodo.org/api/records/15496947/access/links\", \"access_grants\": \"https://zenodo.org/api/records/15496947/access/grants\", \"access_users\": \"https://zenodo.org/api/records/15496947/access/users\", \"access_request\": \"https://zenodo.org/api/records/15496947/access/request\", \"access\": \"https://zenodo.org/api/records/15496947/access\", \"communities\": \"https://zenodo.org/api/records/15496947/communities\", \"communities-suggestions\": \"https://zenodo.org/api/records/15496947/communities-suggestions\", \"requests\": \"https://zenodo.org/api/records/15496947/requests\"}, \"updated\": \"2025-05-23T17:00:02.720774+00:00\", \"recid\": \"15496947\", \"revision\": 4, \"files\": [{\"id\": \"82cdace1-b830-4982-aeb2-0c5771ccd001\", \"key\": \"1_sorted_tsla.csv\", \"size\": 1035799239, \"checksum\": \"md5:63722cfae0ee22bfa5fabcd1720a3d7c\", \"links\": {\"self\": \"https://zenodo.org/api/records/15496947/files/1_sorted_tsla.csv/content\"}}, {\"id\": \"8988b821-600b-4dac-89de-7a7213acbf65\", \"key\": \"thesis.py\", \"size\": 3361, \"checksum\": \"md5:33f26a3f1a56eba099d02edceefdea68\", \"links\": {\"self\": \"https://zenodo.org/api/records/15496947/files/thesis.py/content\"}}], \"swh\": {}, \"owners\": [{\"id\": \"1326905\"}], \"status\": \"published\", \"stats\": {\"downloads\": 5, \"unique_downloads\": 4, \"views\": 5, \"unique_views\": 4, \"version_downloads\": 5, \"version_unique_downloads\": 4, \"version_unique_views\": 4, \"version_views\": 5}, \"state\": \"done\", \"submitted\": true}"
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "etag",
              "value": "W/\"4\""
            },
            {
              "name": "link",
              "value": "<https://zenodo.org/api/records/15496947> ; rel=\"linkset\" ; type=\"application/linkset+json\""
            },
            {
              "name": "retry-after",
              "value": "59"
            },
            {
              "name": "x-ratelimit-limit",
              "value": "133"
            },
            {
              "name": "x-ratelimit-remaining",
              "value": "132"
            },
            {
              "name": "x-ratelimit-reset",
              "value": "1748073529"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 567,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
