{
  "log": {
    "_recordingName": "should load a package",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "c252115c2e378f6716d6b175112fdc7a",
        "request": {
          "headers": [],
          "method": "GET",
          "queryString": [],
          "url": "https://sandbox.zenodo.org/api/records/260528"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 4196,
            "text": "{\"created\": \"2025-05-24T09:01:09.188189+00:00\", \"modified\": \"2025-05-24T09:01:09.509867+00:00\", \"id\": 260528, \"conceptrecid\": \"260527\", \"doi\": \"10.5072/zenodo.260528\", \"conceptdoi\": \"10.5072/zenodo.260527\", \"doi_url\": \"https://handle.stage.datacite.org/10.5072/zenodo.260528\", \"metadata\": {\"title\": \"title\", \"doi\": \"10.5072/zenodo.260528\", \"publication_date\": \"2025-05-24\", \"description\": \"description\", \"access_right\": \"open\", \"creators\": [{\"name\": \"title\", \"affiliation\": \"path\"}], \"keywords\": [\"keyword1\", \"keyword2\"], \"version\": \"1.0\", \"resource_type\": {\"title\": \"Dataset\", \"type\": \"dataset\"}, \"license\": {\"id\": \"mit-license\"}, \"relations\": {\"version\": [{\"index\": 0, \"is_last\": true, \"parent\": {\"pid_type\": \"recid\", \"pid_value\": \"260527\"}}]}}, \"title\": \"title\", \"links\": {\"self\": \"https://sandbox.zenodo.org/api/records/260528\", \"self_html\": \"https://sandbox.zenodo.org/records/260528\", \"preview_html\": \"https://sandbox.zenodo.org/records/260528?preview=1\", \"doi\": \"https://handle.stage.datacite.org/10.5072/zenodo.260528\", \"self_doi\": \"https://handle.stage.datacite.org/10.5072/zenodo.260528\", \"self_doi_html\": \"https://sandbox.zenodo.org/doi/10.5072/zenodo.260528\", \"reserve_doi\": \"https://sandbox.zenodo.org/api/records/260528/draft/pids/doi\", \"parent\": \"https://sandbox.zenodo.org/api/records/260527\", \"parent_html\": \"https://sandbox.zenodo.org/records/260527\", \"parent_doi\": \"https://handle.stage.datacite.org/10.5072/zenodo.260527\", \"parent_doi_html\": \"https://sandbox.zenodo.org/doi/10.5072/zenodo.260527\", \"self_iiif_manifest\": \"https://sandbox.zenodo.org/api/iiif/record:260528/manifest\", \"self_iiif_sequence\": \"https://sandbox.zenodo.org/api/iiif/record:260528/sequence/default\", \"files\": \"https://sandbox.zenodo.org/api/records/260528/files\", \"media_files\": \"https://sandbox.zenodo.org/api/records/260528/media-files\", \"archive\": \"https://sandbox.zenodo.org/api/records/260528/files-archive\", \"archive_media\": \"https://sandbox.zenodo.org/api/records/260528/media-files-archive\", \"latest\": \"https://sandbox.zenodo.org/api/records/260528/versions/latest\", \"latest_html\": \"https://sandbox.zenodo.org/records/260528/latest\", \"versions\": \"https://sandbox.zenodo.org/api/records/260528/versions\", \"draft\": \"https://sandbox.zenodo.org/api/records/260528/draft\", \"access_links\": \"https://sandbox.zenodo.org/api/records/260528/access/links\", \"access_grants\": \"https://sandbox.zenodo.org/api/records/260528/access/grants\", \"access_users\": \"https://sandbox.zenodo.org/api/records/260528/access/users\", \"access_request\": \"https://sandbox.zenodo.org/api/records/260528/access/request\", \"access\": \"https://sandbox.zenodo.org/api/records/260528/access\", \"communities\": \"https://sandbox.zenodo.org/api/records/260528/communities\", \"communities-suggestions\": \"https://sandbox.zenodo.org/api/records/260528/communities-suggestions\", \"requests\": \"https://sandbox.zenodo.org/api/records/260528/requests\"}, \"updated\": \"2025-05-24T09:01:09.509867+00:00\", \"recid\": \"260528\", \"revision\": 3, \"files\": [{\"id\": \"09f0f6e5-aed0-45c7-b579-e000272be917\", \"key\": \"table.csv\", \"size\": 30, \"checksum\": \"md5:6c2c61dd9b0e9c6876139a449ed87933\", \"links\": {\"self\": \"https://sandbox.zenodo.org/api/records/260528/files/table.csv/content\"}}, {\"id\": \"17eba425-9e7e-4edc-abdb-d97514e5b7b4\", \"key\": \"dialect.json\", \"size\": 23, \"checksum\": \"md5:0de7e07cbe2fc19dd077133951760eed\", \"links\": {\"self\": \"https://sandbox.zenodo.org/api/records/260528/files/dialect.json/content\"}}, {\"id\": \"6a8affa9-f588-4fa3-a232-9b6c41be5469\", \"key\": \"schema.json\", \"size\": 136, \"checksum\": \"md5:30208ec3060c83e82f626cdd19795c69\", \"links\": {\"self\": \"https://sandbox.zenodo.org/api/records/260528/files/schema.json/content\"}}, {\"id\": \"677fffdd-9755-412f-b616-6b1ce9977c62\", \"key\": \"datapackage.json\", \"size\": 824, \"checksum\": \"md5:028c7ddf791931e9738a3e7e8586ea34\", \"links\": {\"self\": \"https://sandbox.zenodo.org/api/records/260528/files/datapackage.json/content\"}}], \"swh\": {}, \"owners\": [{\"id\": \"31914\"}], \"status\": \"published\", \"stats\": {\"downloads\": 0, \"unique_downloads\": 0, \"views\": 0, \"unique_views\": 0, \"version_downloads\": 0, \"version_unique_downloads\": 0, \"version_unique_views\": 0, \"version_views\": 0}, \"state\": \"done\", \"submitted\": true}"
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "etag",
              "value": "W/\"3\""
            },
            {
              "name": "link",
              "value": "<https://sandbox.zenodo.org/api/records/260528> ; rel=\"linkset\" ; type=\"application/linkset+json\""
            },
            {
              "name": "retry-after",
              "value": "60"
            },
            {
              "name": "x-ratelimit-limit",
              "value": "133"
            },
            {
              "name": "x-ratelimit-remaining",
              "value": "132"
            },
            {
              "name": "x-ratelimit-reset",
              "value": "1748077715"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 1102,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
