.container {
  padding-top: rem(80px);
  padding-bottom: rem(80px);
}

.label {
  text-align: center;
  font-weight: 900;
  line-height: 1;
  font-size: rem(32px);
  margin-bottom: calc(1.5 * var(--mantine-spacing-xl));
  color: var(--mantine-color-gray-4);

  @media (min-width: $mantine-breakpoint-sm) {
    font-size: rem(38px);
  }
}

.description {
  max-width: rem(500px);
  margin: auto;
  margin-top: var(--mantine-spacing-xl);
  margin-bottom: calc(1.5 * var(--mantine-spacing-xl));
}

.title {
  font-family: var(--mantine-font-family);
  text-align: center;
  font-weight: 900;
  font-size: rem(32px);

  @media (min-width: $mantine-breakpoint-sm) {
    font-size: rem(38px);
  }
}
