{
  "log": {
    "_recordingName": "loadPackageFromCkan-should load a package",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "a4062babfd90a257009beac9691adb4d",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"id\":\"join-the-dots-collection-level-descriptions\"}"
          },
          "queryString": [],
          "url": "https://data.nhm.ac.uk/api/3/action/package_show"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "size": 9616,
            "text": "{\"help\": \"https://data.nhm.ac.uk/api/3/action/help_show?name=package_show\", \"success\": true, \"result\": {\"author\": \"Natural History Museum\", \"author_email\": null, \"creator_user_id\": \"adf402e6-f82f-4545-8bbe-68634a349107\", \"dataset_category\": [\"Collections\"], \"id\": \"78941769-a224-41d2-bdd5-527e9bbd9757\", \"isopen\": true, \"license_id\": \"odc-by\", \"license_title\": \"Open Data Commons Attribution License\", \"license_url\": \"http://www.opendefinition.org/licenses/odc-by\", \"maintainer\": null, \"maintainer_email\": null, \"metadata_created\": \"2022-03-29T17:19:40.385253\", \"metadata_modified\": \"2025-04-29T14:13:19.793337\", \"name\": \"join-the-dots-collection-level-descriptions\", \"notes\": \"The records in this dataset provide a high-level summary of the Natural History Museum's collection and encompass the material managed by its Life Sciences, Earth Sciences and Library & Archives departments. The data has been gathered, structured and published with the intention of providing some level of visibility into the scope, nature and composition of the Museum's holdings, the majority of which have yet to be digitised. The 2,800+ records in this dataset represent the majority of the N[...]
