---
import Default from "@astrojs/starlight/components/SocialIcons.astro"
import type { Props } from "@astrojs/starlight/props"

const { hasSidebar } = Astro.locals.starlightRoute
---

<a href="https://dpkit.app">
  <strong>Web</strong>
</a>

<strong>Terminal</strong>

<!--
<a href="https://python.dpkit.dev">
  <strong>Python</strong>
</a>
-->

<a href="https://typescript.dpkit.app">
  <strong>TypeScript</strong>
</a>

<Default {...Astro.props}><slot /></Default>

<!-- Add styles to mimic the default links appearance. -->
<style>
  a {
    color: var(--sl-color-text-accent);
    margin: -0.5em;
    padding: 0.5em;
  }

  a:hover {
    opacity: 0.66;
  }
</style>
