---
import { Image } from "astro:assets"
import logo from "../../assets/about.png"
---

<article class="sl-flex not-content" aria-labelledby="about-astro-heading">
  <small id="about-astro-heading">
    Brought to you by
  </small>
  <div><a href="https://datist.io"><Image src={logo} alt="Datist" width={300} /></a></div>
  <p>We are bringing technological innovation and consultancy<br> services to open data field.
</article>

<style>
  article {
    max-width: 40rem;
    margin-inline: auto;
    padding-block: 5rem;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 0.5rem;
  }
  article > :global(*) {
    max-width: 50ch;
  }
  small {
    color: var(--sl-color-gray-3);
  }
  svg {
    width: 15rem;
  }
  img {
    border-radius: 15px;
    background-color: white;
  }
  div {
    padding: 5px;
    padding-bottom: 0;
    border-radius: 15px;
    border: dashed 1px #ccc;
  }
</style>
